<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>330319011459-rjguitrba19v05lgkic26t9gr21754q3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330319011459-rjguitrba19v05lgkic26t9gr21754q3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>330319011459-kr5em7ths9s1lbdpl0p3spgqntlqlpec.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCD-YPs26dqQZT3TvsKKHcR42fgOQIZYa0</string>
	<key>GCM_SENDER_ID</key>
	<string>330319011459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Rylee-partner</string>
	<key>PROJECT_ID</key>
	<string>rylee-53a91</string>
	<key>STORAGE_BUCKET</key>
	<string>rylee-53a91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330319011459:ios:d8e841afe3e2567fe605b6</string>
	<key>DATABASE_URL</key>
	<string>https://rylee-53a91-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>